.icon-button {
  width: 32px; /* 버튼의 너비 */
  height: 32px; /* 버튼의 높이 */
  border: none;
  background-color: transparent; /* 배경을 투명하게 설정 */
  cursor: pointer;
}

/* icon-image: 이미지의 크기를 버튼에 맞춤 */
.icon-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}